<aside class="col-sm-3 ml-sm-auto blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I am just beginning my <em>Web Development</em> journey, and I am extremely excited about my future on this path.</p>
  </div>
  
  <%= source_helper("alert alert-info blog-sidebar-source") %>
   
       
  
  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/bcg347"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/brandon.bcg.7"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.instagram.com/bcg347/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.linkedin.com/in/brandon-gordon-186684a/"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</aside>